section {
    ul {
        grid-column: 1/5;
        list-style: none;
        li {
            font-size: 1.33rem;
            padding-bottom: 2rem;
            section {
                display: none;
            }
        }
    }
}

.grid-rows {
    grid-template-rows: 1fr 3fr;
}