nav {
    order: 1;
    font-family: 'Clear', sans-serif;
    align-self: center; 
    width: 100%;
    ul { 
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        text-align: center;
        li {
            font-size: 1.25rem;
            padding: 1.2rem 0;
            list-style: none;
        }
    }
}