
    .items {
        display: none;
        text-align: left;
        overflow: auto;
    }
    .items-show {
        display: block;
    }
    button {
        position: absolute;
        right: 1rem;
        border: unset;
        background: unset;
        font-size: inherit;
        font-family: inherit;
    }
